<!DOCTYPE html>
<html ng-app="nicolive">
<head>
  <title>Nico</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width-device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application", :debug => Rails.env.development? %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container header">
        <a class="brand" href="#"><img src="/images/logo.png" alt="logo"/></a>
        <div class="">
          <ul class="nav nav-tabs header-tab">
            <li class="header-tab-list">
              <a href="/">
                <div class="tab-main-msg">動画を見る</div>
                <div class="tab-sub-msg">日本語字幕付きの動画</div>
              </a>
            </li>
            <li>
              <a href="/">
                <div class="tab-main-msg">出資案件</div>
                <div class="tab-sub-msg">字幕の制作の依頼</div>
              </a>
            </li>
          </ul>
          <ul class="nav pull-right">
            <!-- TODO -->
            <p id="userName"></p>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">設定<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">アカウント</a></li>
                <li><a href="#">スタッフからのお知らせ</a></li>
                <li class="divider"></li>
                <li><a href="/signout" target="_self">ログアウト</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div>
    </div><!-- /navbar-inner -->
  </div>

  <div ng-view></div>

  <hr>

  <div class="footer">
    <p>&copy; Company 2013</p>
  </div>

</body>
</html>
